<div>
<h1>Edit stadium</h1>
<%= simple_form_for @stadium do |f| %>
<%= f.input :name %>
<%= f.input :location %>
<%= f.input :capacity %>
<%= f.input :energy_class %>
<%= f.input :price %>
<%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
</div>
