<div class="container">

  <div class="d-flex justify-content-between">
    <%= simple_form_for :search, method: :get, defaults: { required: false } do |f| %>
      <%= f.input :"", label: "", placeholder: "Search my stadium !", input_html: { name: 'search', value: params.dig(:search) } %>
    <% end %>
    <h6>Book the stadium of your dream !</h6>
    <div class="btn">
      <%= link_to "Register my stadium !", new_stadium_path, class: "btn btn-outline-light" %>
    </div>
  </div>

  <div class="main-container">
    <div class="cards">
      <% @stadia.each do |stadium| %>

        <div class="stadium-card">
          <h3><%=stadium.name%></h3>
          <% stadium.reviews.map do |review| %>
            <%= review.rating %>
          <% end %>

          <%= @rating %>

          <div class="pictures_stadium">
            <% stadium.pictures.each do |picture| %>
              <%= cl_image_tag picture.key, height: 250, width: 350, crop: :fill %>
            <% end %><br><br>
          </div>

          <div class="d-flex justify-content-around">
            <div class="left">
              <p>Location : <strong><%=stadium.location%></strong><br>Capacity : <strong><%=stadium.capacity%></strong></p>
            </div>
            <div class="right">
              <p>Energy Class : <strong><%=stadium.energy_class%></strong><br>Price : <strong><%=stadium.price%> $</strong> / day</p>
            </div>
          </div>

          <div class="d-flex justify-content-around">
            <%= link_to "More informations", stadium_path(stadium), class: "btn btn-outline-primary" %>
          </div>

        </div>
      <% end %>
    </div>

    <div id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
</div>
