<h1>Stadbnb</h1>

<% @stadia.each do |stadium| %>

<ul>
  <li>
    <strong><%=stadium.name%></strong><br>

    Location : <%=stadium.location%><br>
    <%# <%=stadium.stadium_description %>
    Capacity : <%=stadium.capacity%><br>
    Energy Class : <%=stadium.energy_class%><br>
    Price per day : <%=stadium.price%><br>
    <%= link_to "More informations", stadium_path(stadium) %>
    <% end %>
    <% @stadium.pictures.each do |picture| %>
      <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
    <% end %><br>
  </li>
</ul>

<%= link_to "Add a stadium", new_stadium_path %>
