<div class="container">

  <h1>StadiumBnb - All stadiums available</h1>
  <%# <%= link_to "ADD MY STADIUM !", new_stadium_path, class: "btn btn-primary" %>

  <div class="main-container">

    <div class="cards">
      <% @stadia.each do |stadium| %>

        <div>
          <h3><strong><%=stadium.name.upcase%></strong></h3>

          <div class="pictures_stadium">
            <% stadium.pictures.each do |picture| %>
              <%= cl_image_tag picture.key, height: 300, width: 300, crop: :fill %>
            <% end %><br><br>
          </div>

          <div class="details">
            <p>Location : <strong><%=stadium.location%></p></strong>
            <p>Capacity : <%=stadium.capacity%></p>
            <p>Energy Class : <%=stadium.energy_class%></p>
            <p>Price : <strong><%=stadium.price%> $</strong> / day</p>

            <%= link_to "More informations", stadium_path(stadium) %>
          </div>

        </div>

      <% end %>
    </div>

    <div id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

</div>
