<h1>New stadium</h1>
<%= @error %>
<%= simple_form_for @stadium do |f| %>
<%= f.input :name %>
<%= f.input :location %>
<%= f.input :capacity %>
<%= f.input :energy_class %>
<%= f.input :price %>
<%= f.input :pictures, as: :file, input_html: { multiple: true } %>
<%= f.input :stadium_description %>
<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
<br>
<br>
<%= link_to "Back to Stadiums list", stadia_path %>
