<h1>Stadium details</h1>
<ul>
  <li>
    <%= @stadium.name %>
  </li>
  <li>
    <%= @stadium.location %>
  </li>
  <li>
    <%= @stadium.capacity %>
  </li>
  <li>
    <%= @stadium.energy_class %>
  </li>
  <li>
    <%= @stadium.price %>
  </li>
</ul>
