<div class="container">

  <h1><strong><%= @stadium.name %> - <%= @stadium.location %></strong></h1><br>

  <p><%= @stadium.stadium_description %></p><br><br>

  <div class="stadium_pictures">
  <% @stadium.pictures.each do |picture| %>
    <%= cl_image_tag picture.key, height: 400, width: 600, crop: :fill %><br><br>
  <% end %>
  <br>
  <br>
  </div>

  <ul>
    <li>
      <p>Capicity : <%= @stadium.capacity %> persons</p>
    </li>
    <li>
      <p>Energy class : <%= @stadium.energy_class %></p>
    </li>
    <li>
      <p><%= @stadium.price %> $</strong> / day</p><strong>
    </li>
  </ul>

  <%= link_to "Book this stadium !", new_stadium_booking_path(@stadium),class: "btn btn-success"  %><br><br>

  <div class="d-flex" style="width: 30% ; height: 200px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div><br>

  <div>
  <%= link_to "Delete my stadium", stadium_path(@stadium), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to "Back to Stadiums list", stadia_path, class: "btn btn-primary" %>
  </div><br>

</div>
