<h1><strong><%= @stadium.name %> - <%= @stadium.location %></strong></h1><br>

<%= @stadium.stadium_description %><br><br>

<% @stadium.pictures.each do |picture| %>
  <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<br>

<ul>
  <li>
    Capicity : <%= @stadium.capacity %> persons
  </li>
  <li>
    Energy class : <%= @stadium.energy_class %>
  </li>
  <li>
    <strong><%= @stadium.price %></strong> € per day
  </li>
</ul>

<div style="width: 800px; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<br>
<strong><%= link_to "Book this stadium !", new_stadium_booking_path(@stadium) %></strong>
<br>
<br>
<%= link_to "Delete my stadium", stadium_path(@stadium), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<br>
<%= link_to "Back to Stadiums list", stadia_path %>
