<div class="container">

  <h1><strong><%= @stadium.name %></strong></h1>
  <div class="city"><strong><%= @stadium.location %></strong></div><br>

  <div class="d-flex justify-content-between">

    <div>
      <div>
        <div class="description"><%= @stadium.stadium_description %></div><br>
        <div>Capicity : <%= @stadium.capacity %> persons</div>
        <div>Energy class : <%= @stadium.energy_class %></div>
        <div><%= @stadium.price %> $</strong> / day<strong></div><br><br>
        <%= link_to "Book this stadium !", new_stadium_booking_path(@stadium),class: "btn btn-success"  %><br><br>

        <div class="d-flex" style="width: 40% ; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="stadium_pictures">
      <% @stadium.pictures.each do |picture| %>
        <%= cl_image_tag picture.key, height: 300, width: 500, crop: :fill %><br><br>
      <% end %>
    </div>

  </div>

  <div>
  <%= link_to "Edit my stadium", edit_stadium_path(@stadium), class: "btn btn-primary" %>
  <%= link_to "Delete my stadium", stadium_path(@stadium), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to "Back to Stadiums list", stadia_path, class: "btn btn-primary" %>
  </div>

</div>
