<div class="container">

  <h1><strong><%= @stadium.name %></strong></h1>
  <div class="city"><strong><%= @stadium.location %></strong></div><br>

  <div class="d-flex justify-content-between">

    <div class="main-container">
      <div>
        <div>

          <div class="description">
            <% unless @stadium.reviews.blank? %>
              <% starfull = @stadium.reviews.sum(:rating)/ @stadium.reviews.count %>
              <% starfull.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <% (5-starfull).times do %>
                <i class="fa-regular fa-star"></i>
              <% end %>
            <% end %><br><br>

          <%= @stadium.stadium_description %></div><br>

          <div class="description-details">
            <div>Capicity : <%= @stadium.capacity %> persons</div>
            <div><%= @stadium.price %> $<strong> / day</strong></div><br>
            <div class="d-flex justify-content-center"><%= link_to "Book this stadium !", new_stadium_booking_path(@stadium),class: "btn btn-outline-light" %></div><br><br><br><br>
          </div>

          <div class="d-flex justify-content-evenly">
            <div class="d-flex" style="width: 40% ; height: 190px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
            <div>
              <% if @stadium.photo.key? %>
                <%= cl_image_tag @stadium.photo.key, height: 190, width: 280, crop: :fill %></div>
              <% else %>
                <img style="height:190px; width:280px;"src="https://res.cloudinary.com/di7k88pkv/image/upload/v1674915880/doxbpq4cehvl4gqzn6rg.png" alt="">
              <% end %>
            </div>
        </div>
      </div>

      <div class="stadium_pictures">
        <% @stadium.pictures.each do |picture| %>
          <%= cl_image_tag picture.key, height: 300, width: 500, crop: :fill %> <br><br>
        <% end %>
      </div>

    </div>

  </div>

    <div class="second-container">

      <h3><%= pluralize @stadium.reviews.size, "review" %><span> for </span><%= @stadium.name %> </h3>
      <h4>  Rate :
      <% if @stadium.reviews.blank? %>
          <i> -- </i></h4><br><br>
        <% else %>
          <%= @stadium.reviews.average(:rating).round(1) %><span>/5</span></h4><br>
        <% end %>

      <% if @stadium.reviews.blank? %>
        <p>Be the first to leave a review for <%= @stadium.name %></p>
      <% else %>
        <% @stadium.reviews.each do |review| %>
          <%= review.rating %>
          <span>/ 5  -   </span>
          <%= review.content %><br>
        <% end %>
      <% end %><br>

      <%= simple_form_for([@stadium, @review]) do |f| %>
      <%= f.input :content, placeholder: "Leave your comment" %>
      <%= f.input :rating, placeholder: "Leave a rate between 1 and 5" %>
      <%= f.button :submit, class: "btn btn-outline-light" %><br><br>
      <% end %>

      </div>
    </div>

  <div class="links">
    <div class="d-flex justify-content-evenly">
      <%= link_to "Back to Stadiums list", stadia_path, class: "btn btn-primary" %>
      <%if current_user.id == @stadium.user_id  %>
        <%= link_to "Edit my stadium", edit_stadium_path(@stadium), class: "btn btn-primary" %>
        <%= link_to "Delete my stadium", stadium_path(@stadium), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <%end %>
    </div>
  </div>
</div>
