<div id='stadium-booking-dates' data-unavailable="<%= @stadium.unavailable_dates.to_json %>">
  <%= simple_form_for [@stadium, @booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_date, as: :string, placeholder: "Start date", input_html: { data: { flatpickr_target: "startTime" } } %>
    <%= f.input :end_date, as: :string, placeholder: "End date", input_html: { data: { flatpickr_target: "endTime" } } %>
    <%= f.submit 'Schedule your appointment' %>
  <% end %>
</div>
