<div>
  <h1>All my bookings</h1>
</div>

<div>
  <h2>Bookings to come</h2>
</div>

<div>
  <ul>
    <% @bookings.each do |booking| %>
      <%if booking.start_date >= Date.today %>
        <li>
          <p>Name: <%= booking.stadium.name %></p>
          <p>Start date: <%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= link_to "View details", booking_path(booking) %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>


<div>
  <h2>Past bookings</h2>
</div>

<div>
  <ul>
    <% @bookings.each do |booking| %>
      <%if booking.start_date < Date.today %>
        <li>
          <p>Name: <%= booking.stadium.name %></p>
          <p>Start date: <%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
