<div class="container-booking-details">
  <h2>Congratulations, you've just booked the <%= @booking.stadium.name %></h2>
  </br>
  <h3>Here are your booking details</h3>

  <div class="booking-dates-details">
    <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
    <p><strong>End Date:</strong> <%= @booking.end_date %></p>
  </div>

  <div class="booking-details">
    <p><strong>Stadium:</strong> <%= @booking.stadium.name %></p>
    <p><strong>Location:</strong> <%= @booking.stadium.location %></p>
    <p><strong>Capacity:</strong> <%= @booking.stadium.capacity %></p>
    <p><strong>Energy Class:</strong> <%= @booking.stadium.energy_class %></p>
    <p><strong>Price:</strong> <%= @booking.stadium.price %> $</p>
  </div>

  <div class="booking-total-details">
    <p><strong>Total Price:</strong> <%= @booking.total_price %> $</p>
  </div>

  <%# <%= simple_form_for [@booking, @review] do |f| %>
    <%# <%= f.input :content, label: "Leave a review for this stadium" %>
    <%# <%= f.input :rating, label: "Leave your rating for this stadium" %>
    <%# <%= f.submit "Submit", class: "btn btn-primary" %>
  <%# <% end %>

    <div class="booking-buttons-details">
      <%= link_to "Back to Stadiums list", stadia_path, class: "btn btn-primary" %>
      <%= link_to "Back to My Bookings", bookings_path, class: "btn btn-primary" %>
    </div>
</div>
