<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">

    <div class="d-flex justify-content-center">
      <%= link_to stadia_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1674508155/vtdbsujwjposx3eouhhr.png" %>
      <% end %>
      <h2><strong>Stadium</strong></h2>
      <h5><strong>BnB</strong></h5>
    </div>

    <div><strong><%= link_to "Germany", stadia_path(search:"Germany"), class:"country" %></strong></div>
    <div><strong><%= link_to "France", stadia_path(search:"France"), class:"country" %></strong></div>
    <div><strong><%= link_to "Spain", stadia_path(search:"Spain"), class:"country" %></strong></div>
    <div><strong><%= link_to "Australia", stadia_path(search:"Australia"), class:"country" %></strong></div>
    <div><strong><%= link_to "United States", stadia_path(search:"USA"), class:"country" %></strong></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
            <%= link_to "My bookings", bookings_path, class: "nav-link" %>
          <li class="nav-item dropdown">
            <span class="nav-item"><%=current_user.email %></span>
            <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1674220835/rwcaekxsosig45kistar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Setting", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
